// "out": "style.css"
/********Fonts********/
@font-face {
        font-family: ExpletusSans-Regular;
        src: url('../fonts/expletussans-regular-webfont.eot') format('eot'), url('../fonts/expletussans-regular-webfont.woff') format('woff'), url('../fonts/expletussans-regular-webfont.ttf') format('truetype');
}
@font-face {
        font-family: icons;
        src: url('../fonts/icomoon.eot') format('eot'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype');
}


// Core variables and mixins
@import "variables.less";
@import "mixins.less";

/******** Core styles *********/
body {
    background: @white;
    color: @brand-dark-gray;
    font: normal @font-size-base @font-family-sans-serif;
     -webkit-font-smoothing: antialiased;
}
a{ -webkit-backface-visibility: hidden; color: @brand-primary-red; }
a:focus { background: none !important; outline: none !important; }
a:hover, a:focus {
    text-decoration: none;
    color: @brand-primary-red;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: @font-family-sans-serif;
}
::selection {
	background-color: @brand-primary-red;
	color: @white;
}
input, select, textarea {  -webkit-font-smoothing: antialiased; }
iframe, object, embed {max-width: 100%;}
img { height: auto; max-width: 100%; }
.red-btn {
    background: @brand-primary-red;
    border: 2px solid transparent;
    color: @white;
    padding: 10px;
    display: block;
    .border-radius(0px);
    max-width: 170px;
    .transition(all ease 400ms);
    &:hover {
        background: none;
        border: 2px solid @brand-primary-red;
        color: @white;
        .transition(all ease 400ms);
        .translate(0,3px);
    }
}
/******************************* Header **********************************/
#header {
    padding: 30px 0;
        .nav{
            a {
                color: @brand-dark-gray;
                font-weight: 700;
                padding-top: 50px;
                text-transform: uppercase;
                .transition(all ease 400ms);
                &:hover{
                    background: none;
                    color: @brand-primary-red;
                    .transition(all ease 400ms);
                    .translate(0,3px);
                }

            }
        }
}
/******************************* Footer **********************************/

#footer {
    padding: 30px 0;
        .nav{
            a {
                color: @brand-dark-gray;
                font-weight: 700;
                padding-top: 50px;
                text-transform: uppercase;
                .transition(all ease 400ms);
                &:hover{
                    background: none;
                    color: @brand-primary-red;
                    .transition(all ease 400ms);
                    .translate(0,3px);
                }

            }
        }
        .container{ border-top: 3px solid @brand-dark-gray; }
        .row { padding: 20px 0; }
}
/******************************* Follow us widget **********************************/
#follow-us {
    background: @gray-light;
    padding: 15px 20px;
    margin: 20px 0;
    .social-icon {
        display: inline-block;
        color: @white;
        background: @brand-primary-red;
        border: 2px solid transparent;
        .border-radius(100%);
        font-size: 17px;
        height: 35px;
        width: 35px;
        line-height: 35px;
        .transition(all ease 400ms);
        &:hover{
            border: 2px solid @brand-primary-red;
            background: none;
            color: @brand-primary-red;
            .transition(all ease 400ms);
        }
    }
    p{ display: inline-block;     margin: 10px 15px; }
    ul { display: inline-block; }
}

/******************************* Upcoming shows widget **********************************/
#upcoming-shows {
    background: @gray-light;
    padding: 15px 20px;
    margin: 20px 0;
        .upcoming-date { display: inline-block; padding: 0 10px; }
        .artist-name { display: inline-block; padding: 0 10px; }
        h4{ color: @brand-primary-red; margin-bottom: 25px; }
        .the-show { padding: 13px 0; border-bottom: 2px solid @gray-dark; }
        .no-border { border: none; }
        #vsel { float: none; width: auto;
          .vsel-content {
            float: none;
            width: auto;
            &:last-child { border: 0; }
          }
          .vsel-meta {
            float: none;
            width: auto;
          }
        }
}
#featured-artists-lists {
  h2 { color: @brand-primary-red; padding: 10px 0; }
  .featured-content-list.design-4 .featured-content-image-bg img, .featured-content-list.design-4 .featured-content-image-bg { height: 230px; }
  .featured-read-more, .featured-content-image.square { display: none; }
  .featured-content-list.design-4 h3.entry-title { line-height: 230px; margin: 0 !important;  }
  .featured-content-list.design-4 h3.entry-title a { display: block; height: 100%; width: 100%; }
  .featured-content-list.design-4 .featured-content-position .featured-content-overlay { padding: 0; }
}
/******************************* Home **********************************/
#hero {
        .container{
           background: url("../../images/home-hero-bg.jpg") no-repeat 0 0;
           min-height: 400px;
        }
        h1{ border: 2px solid @white; color: @white; font-size: 30px; padding: 15px; display: inline-block; margin-top: 70px; }
        .intro{ border: 2px solid @white; color: @white; font-size: 15px; padding: 15px; display: inline-block; }
        .hero-inner-wrap{ padding: 25px 10px; }
}
#featured-artists {
    .feat-img{
        background: @gray-light;
        display: block;
        min-height: 200px;
    }
    .caption{
        background: @brand-dark-gray;
        display: block;
        color: @white;
        padding: 15px;
    }
}
#latest-news {
    padding: 50px 0;
    article { padding: 20px 0; }
    .article-img {
        display: block;
        background: @gray-light;
        min-height: 200px;
    }
    .post-title {
        font-size: 20px;
        margin: 7px 0;
        color: @brand-primary-red;
    }
}

/******************************* Artists **********************************/
#artists-hero {
  .container{
     background: url("../../images/home-hero-bg.jpg") no-repeat 0 0;
     min-height: 400px;
  }
}
/******************************* Tours **********************************/
#tours-hero {
  .container{
     background: url("../../images/home-hero-bg.jpg") no-repeat 0 0;
     min-height: 400px;
  }
}
#tours {
  h2 { color: @brand-primary-red; padding: 10px 0; }
  #vsel {
    .vsel-meta-date, .vsel-meta-location, .vsel-meta-link { display: inline-block; margin: 0 7px; padding: 0 50px; }
    .vsel-meta { width: 100%; float: none; text-align: center; }
    .vsel-meta-title { color: @brand-primary-red; padding: 15px 0; }
    .vsel-content { border-color: @brand-primary-red; padding-bottom: 25px; }
    .vsel-meta-link {
      a {
        background: @brand-primary-red;
        color: @white;
        border: 2px solid @brand-primary-red;
        .transition(all ease 400ms);
        &:hover {
          .transition(all ease 400ms);
          color: @brand-primary-red;
          background: none;
        }
      }
    }
  }
}
/******************************* Blog **********************************/
.post {
  padding: 25px 0;
  h2 {
    margin-bottom: 20px;
  }
  .post-date {
    margin: 15px 0;
    font-size: 18px;
  }
  .post-categories {
    li {
      list-style: none;
      a {
        display: inline-block;
        background: @brand-primary-red;
        .transition(all ease 400ms);
        border: 2px solid @brand-primary-red;
        color: @white;
        padding: 5px 7px;
        .border-radius(20px);
        font-size: 12px;
        margin: 5px 7px;
        &:hover {
          color: @brand-primary-red;
          background: none;
          .transition(all ease 400ms);
        }
      }
    }
  }
}
