/********Fonts********/
@font-face {
  font-family: ExpletusSans-Regular;
  src: url('../fonts/expletussans-regular-webfont.eot') format('eot'), url('../fonts/expletussans-regular-webfont.woff') format('woff'), url('../fonts/expletussans-regular-webfont.ttf') format('truetype');
}
@font-face {
  font-family: icons;
  src: url('../fonts/icomoon.eot') format('eot'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype');
}
/******** Core styles *********/
body {
  background: #fff;
  color: #222;
  font: normal 14px "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}
a {
  -webkit-backface-visibility: hidden;
  color: #c21b01;
}
a:focus {
  background: none !important;
  outline: none !important;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #c21b01;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Montserrat", sans-serif;
}
::selection {
  background-color: #c21b01;
  color: #fff;
}
input,
select,
textarea {
  -webkit-font-smoothing: antialiased;
}
iframe,
object,
embed {
  max-width: 100%;
}
img {
  height: auto;
  max-width: 100%;
}
.red-btn {
  background: #c21b01;
  border: 2px solid transparent;
  color: #fff;
  padding: 10px;
  display: block;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  max-width: 170px;
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}
.red-btn:hover {
  background: none;
  border: 2px solid #c21b01;
  color: #fff;
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
  -webkit-transform: translate(0, 3px);
  -ms-transform: translate(0, 3px);
  transform: translate(0, 3px);
}
/******************************* Header **********************************/
#header {
  padding: 30px 0;
}
#header .nav a {
  color: #222;
  font-weight: 700;
  padding-top: 50px;
  text-transform: uppercase;
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}
#header .nav a:hover {
  background: none;
  color: #c21b01;
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
  -webkit-transform: translate(0, 3px);
  -ms-transform: translate(0, 3px);
  transform: translate(0, 3px);
}
/******************************* Footer **********************************/
#footer {
  padding: 30px 0;
}
#footer .nav a {
  color: #222;
  font-weight: 700;
  padding-top: 50px;
  text-transform: uppercase;
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}
#footer .nav a:hover {
  background: none;
  color: #c21b01;
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
  -webkit-transform: translate(0, 3px);
  -ms-transform: translate(0, 3px);
  transform: translate(0, 3px);
}
#footer .container {
  border-top: 3px solid #222;
}
#footer .row {
  padding: 20px 0;
}
/******************************* Follow us widget **********************************/
#follow-us {
  background: #f2f2f2;
  padding: 15px 20px;
  margin: 20px 0;
}
#follow-us .social-icon {
  display: inline-block;
  color: #fff;
  background: #c21b01;
  border: 2px solid transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  font-size: 17px;
  height: 35px;
  width: 35px;
  line-height: 35px;
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}
#follow-us .social-icon:hover {
  border: 2px solid #c21b01;
  background: none;
  color: #c21b01;
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}
#follow-us p {
  display: inline-block;
  margin: 10px 15px;
}
#follow-us ul {
  display: inline-block;
}
/******************************* Upcoming shows widget **********************************/
#upcoming-shows {
  background: #f2f2f2;
  padding: 15px 20px;
  margin: 20px 0;
}
#upcoming-shows .upcoming-date {
  display: inline-block;
  padding: 0 10px;
}
#upcoming-shows .artist-name {
  display: inline-block;
  padding: 0 10px;
}
#upcoming-shows h4 {
  color: #c21b01;
  margin-bottom: 25px;
}
#upcoming-shows .the-show {
  padding: 13px 0;
  border-bottom: 2px solid #333333;
}
#upcoming-shows .no-border {
  border: none;
}
#upcoming-shows #vsel {
  float: none;
  width: auto;
}
#upcoming-shows #vsel .vsel-content {
  float: none;
  width: auto;
}
#upcoming-shows #vsel .vsel-content:last-child {
  border: 0;
}
#upcoming-shows #vsel .vsel-meta {
  float: none;
  width: auto;
}
#featured-artists-lists h2 {
  color: #c21b01;
  padding: 10px 0;
}
#featured-artists-lists .featured-content-list.design-4 .featured-content-image-bg img,
#featured-artists-lists .featured-content-list.design-4 .featured-content-image-bg {
  height: 230px;
}
#featured-artists-lists .featured-read-more,
#featured-artists-lists .featured-content-image.square {
  display: none;
}
#featured-artists-lists .featured-content-list.design-4 h3.entry-title {
  line-height: 230px;
  margin: 0 !important;
}
#featured-artists-lists .featured-content-list.design-4 h3.entry-title a {
  display: block;
  height: 100%;
  width: 100%;
}
#featured-artists-lists .featured-content-list.design-4 .featured-content-position .featured-content-overlay {
  padding: 0;
}
/******************************* Home **********************************/
#hero .container {
  background: url("../../images/home-hero-bg.jpg") no-repeat 0 0;
  min-height: 400px;
}
#hero h1 {
  border: 2px solid #fff;
  color: #fff;
  font-size: 30px;
  padding: 15px;
  display: inline-block;
  margin-top: 70px;
}
#hero .intro {
  border: 2px solid #fff;
  color: #fff;
  font-size: 15px;
  padding: 15px;
  display: inline-block;
}
#hero .hero-inner-wrap {
  padding: 25px 10px;
}
#featured-artists .feat-img {
  background: #f2f2f2;
  display: block;
  min-height: 200px;
}
#featured-artists .caption {
  background: #222;
  display: block;
  color: #fff;
  padding: 15px;
}
#latest-news {
  padding: 50px 0;
}
#latest-news article {
  padding: 20px 0;
}
#latest-news .article-img {
  display: block;
  background: #f2f2f2;
  min-height: 200px;
}
#latest-news .post-title {
  font-size: 20px;
  margin: 7px 0;
  color: #c21b01;
}
/******************************* Artists **********************************/
#artists-hero .container {
  background: url("../../images/home-hero-bg.jpg") no-repeat 0 0;
  min-height: 400px;
}
/******************************* Tours **********************************/
#tours-hero .container {
  background: url("../../images/home-hero-bg.jpg") no-repeat 0 0;
  min-height: 400px;
}
#tours h2 {
  color: #c21b01;
  padding: 10px 0;
}
#tours #vsel .vsel-meta-date,
#tours #vsel .vsel-meta-location,
#tours #vsel .vsel-meta-link {
  display: inline-block;
  margin: 0 7px;
  padding: 0 50px;
}
#tours #vsel .vsel-meta {
  width: 100%;
  float: none;
  text-align: center;
}
#tours #vsel .vsel-meta-title {
  color: #c21b01;
  padding: 15px 0;
}
#tours #vsel .vsel-content {
  border-color: #c21b01;
  padding-bottom: 25px;
}
#tours #vsel .vsel-meta-link a {
  background: #c21b01;
  color: #fff;
  border: 2px solid #c21b01;
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}
#tours #vsel .vsel-meta-link a:hover {
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
  color: #c21b01;
  background: none;
}
/******************************* Blog **********************************/
.post {
  padding: 25px 0;
}
.post h2 {
  margin-bottom: 20px;
}
.post .post-date {
  margin: 15px 0;
  font-size: 18px;
}
.post .post-categories li {
  list-style: none;
}
.post .post-categories li a {
  display: inline-block;
  background: #c21b01;
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
  border: 2px solid #c21b01;
  color: #fff;
  padding: 5px 7px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  font-size: 12px;
  margin: 5px 7px;
}
.post .post-categories li a:hover {
  color: #c21b01;
  background: none;
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}
